.sheet {
    min-width: min-content;
}
.sheet-rolltemplate-aventures{
    padding: 8px;
    background: url(../assets/aventures-bg.jpg) no-repeat center center fixed;
}

.window-app .window-content{
    padding: 0;
}

.main{
    display: grid;
    gap: 0.5rem;
}

.statistics, .character{
    display: contents;
}

.sheet header.sheet-header {
    align-self: center;
    flex: 0;
}

.category{
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.sheet-header-logo{
    max-width: 200px;
    border: none;
}

.character-info{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "name race class element"
    "theme theme languages languages"
    "vocation vocation vocation vocation";
}

.character-info .character-name      { grid-area: name; }
.character-info .character-race     { grid-area: race; }
.character-info .character-class   { grid-area: class; }
.character-info .character-element  { grid-area: element; }
.character-info .character-theme    { grid-area: theme; }
.character-info .character-languages   { grid-area: languages; }
.character-info .character-vocation { grid-area: vocation; }

.statistics-info{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.statistics-attributes{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "strength strength social social mental mental"
    "strength-value strength-value social-value social-value mental-value mental-value"
    "power sharpness aura relations instinct knowledge"
    "power-value sharpness-value aura-value relations-value instinct-value knowledge-value"
    "power-malus sharpness-malus aura-malus relations-malus instinct-malus knowledge-malus"
    "bonus bonus bonus bonus bonus bonus";
    height: 200px;
    width: 500px;
}

.statistics-attributes >* {
    border: 1px solid black;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.statistics-attributes .strength { grid-area: strength; }
.statistics-attributes .social { grid-area: social; }
.statistics-attributes .mental { grid-area: mental; }
.statistics-attributes .bonus { grid-area: bonus; }
.statistics-attributes .strength-value { grid-area: strength-value; }
.statistics-attributes .social-value { grid-area: social-value; }
.statistics-attributes .mental-value { grid-area: mental-value; }
.statistics-attributes .power { grid-area: power; }
.statistics-attributes .sharpness { grid-area: sharpness; }
.statistics-attributes .aura { grid-area: aura; }
.statistics-attributes .relations { grid-area: relations; }
.statistics-attributes .instinct { grid-area: instinct; }
.statistics-attributes .knowledge { grid-area: knowledge; }
.statistics-attributes .power-value { grid-area: power-value; }
.statistics-attributes .sharpness-value { grid-area: sharpness-value; }
.statistics-attributes .aura-value { grid-area: aura-value; }
.statistics-attributes .relations-value { grid-area: relations-value; }
.statistics-attributes .instinct-value { grid-area: instinct-value; }
.statistics-attributes .knowledge-value { grid-area: knowledge-value; }
.statistics-attributes .power-malus { grid-area: power-malus; }
.statistics-attributes .sharpness-malus { grid-area: sharpness-malus; }
.statistics-attributes .aura-malus { grid-area: aura-malus; }
.statistics-attributes .relations-malus { grid-area: relations-malus; }
.statistics-attributes .instinct-malus { grid-area: instinct-malus; }
.statistics-attributes .knowledge-malus { grid-area: knowledge-malus; }

.attribute-name, .subattribute-name {
    text-align: center;
    justify-items: center;
}

.attribute-value, .subattribute-value {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.attribute-value .rollValue {
    width: 30px;
    text-align: center;
}

.subattribute-value .rollValue {
    width: 10px;
    text-align: center;
}

.attribute-value .roll-attribute, .subattribute-value .roll-attribute {
    width: 25px;
    height: 30px;
    text-align: center;
    padding: 2px;
}

.attribute-value .roll-attribute img, .subattribute-value .roll-attribute img{
    border: none;
}

.subattribute-malus {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.subattribute-malus > *{
    appearance: none;
    border: 2px solid;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.subattribute-malus .red_card {

    border-left-color: darkred;     /* gauche */
    border-top-color: darkred;      /* haut */
    border-right-color: lightcoral; /* droite */
    border-bottom-color: lightcoral;/* bas */

}
.subattribute-malus .yellow_card {
    border-left-color: darkgoldenrod;
    border-top-color: darkgoldenrod;
    border-right-color: goldenrod;
    border-bottom-color: goldenrod;
}

.subattribute-malus .red_card:checked::after, .subattribute-malus .yellow_card:checked::after {
    content: "✔";
    width: 16px;
    height: 16px;
    color: white;
    background-color: var(--color-checkbox-checked);
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 16px;
}
.bonus{
    text-align: center;
    display: flex;
    place-content: center;
    gap: 0.2rem;

}
.bonus .input-label{
    display: flex;
    align-items: center;
    gap: 0.2rem;

}
.bonus input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin-left: 0;

}
.bonus img {
    width: 14px;
    height: 14px;
    border: none;
}

.character-statistics{
    display: grid;
    grid-template-rows: repeat(6, 1fr);

}

.character-statistics{
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.character-statistics-row > *{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.character-statistics-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.label-element{
    background-color: rgba(255, 255, 255, 0.5);

}

.character-statistics-value{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2rem;
}

.character-statistics-value input{
    width: 30px;
    text-align: center;
}
.basic-text-input{
    font-size: 16px !important;
    font-weight: bold !important;
}
.max-stat-input{
    color: #b74437 !important;

}