.sheet {
    min-width: min-content;
}
.sheet-rolltemplate-aventures{
    padding: 8px;
    background: url(../assets/aventures-bg.jpg) no-repeat center center fixed;
    filter: saturate(3);
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    overflow: visible;

}

.window-app .window-content{
    padding: 0;
}

.main{
    display: grid;
    gap: 0.5rem;
}

.statistics, .character{
    display: contents;
}

.sheet header.sheet-header {
    align-self: center;
    flex: 0;
}

.category{
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.sheet-header-logo{
    max-width: 200px;
    border: none;
}

.character-info{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "name race class element"
    "theme theme languages languages"
    "vocation vocation vocation vocation";
}

.character-info .character-name      { grid-area: name; }
.character-info .character-race     { grid-area: race; }
.character-info .character-class   { grid-area: class; }
.character-info .character-element  { grid-area: element; }
.character-info .character-theme    { grid-area: theme; }
.character-info .character-languages   { grid-area: languages; }
.character-info .character-vocation { grid-area: vocation; }

.statistics-info{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, auto);
}

.statistics-attributes{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "strength strength social social mental mental"
    "strength-value strength-value social-value social-value mental-value mental-value"
    "power sharpness aura relations instinct knowledge"
    "power-value sharpness-value aura-value relations-value instinct-value knowledge-value"
    "power-malus sharpness-malus aura-malus relations-malus instinct-malus knowledge-malus"
    "race-passive race-passive race-passive race-passive race-passive race-passive"
    "class-passive class-passive class-passive class-passive class-passive class-passive"
    "persona-passive persona-passive persona-passive persona-passive persona-passive persona-passive"
    "bonus bonus bonus bonus bonus bonus";
    height: 400px;
    min-width: 500px;
}

.statistics-attributes >* {
    border: 1px solid black;
    align-items: center;
    font-weight: bold;
}

.statistics-attributes .strength { grid-area: strength; }
.statistics-attributes .social { grid-area: social; }
.statistics-attributes .mental { grid-area: mental; }
.statistics-attributes .bonus { grid-area: bonus; }
.statistics-attributes .strength-value { grid-area: strength-value; }
.statistics-attributes .social-value { grid-area: social-value; }
.statistics-attributes .mental-value { grid-area: mental-value; }
.statistics-attributes .power { grid-area: power; }
.statistics-attributes .sharpness { grid-area: sharpness; }
.statistics-attributes .aura { grid-area: aura; }
.statistics-attributes .relations { grid-area: relations; }
.statistics-attributes .instinct { grid-area: instinct; }
.statistics-attributes .knowledge { grid-area: knowledge; }
.statistics-attributes .power-value { grid-area: power-value; }
.statistics-attributes .sharpness-value { grid-area: sharpness-value; }
.statistics-attributes .aura-value { grid-area: aura-value; }
.statistics-attributes .relations-value { grid-area: relations-value; }
.statistics-attributes .instinct-value { grid-area: instinct-value; }
.statistics-attributes .knowledge-value { grid-area: knowledge-value; }
.statistics-attributes .power-malus { grid-area: power-malus; }
.statistics-attributes .sharpness-malus { grid-area: sharpness-malus; }
.statistics-attributes .aura-malus { grid-area: aura-malus; }
.statistics-attributes .relations-malus { grid-area: relations-malus; }
.statistics-attributes .instinct-malus { grid-area: instinct-malus; }
.statistics-attributes .race-passive { grid-area: race-passive; }
.statistics-attributes .knowledge-malus { grid-area: knowledge-malus; }
.statistics-attributes .class-passive { grid-area: class-passive; }
.statistics-attributes .persona-passive { grid-area: persona-passive; }

.attribute-name, .subattribute-name {
    text-align: center;
    justify-items: center;
}

.attribute-value, .subattribute-value {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.attribute-value .rollValue {
    width: 30px;
    text-align: center;
}

.subattribute-value .rollValue {
    width: 10px;
    text-align: center;
}

.roll-dice, .item-delete {
    width: 25px;
    height: 27px;
    text-align: center;
    padding: 2px;
    margin: 2px 0;
}

img{
    border: none;
}

.subattribute-malus {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.subattribute-malus > *{
    appearance: none;
    border: 2px solid;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.subattribute-malus .red_card {

    border-left-color: darkred;     /* gauche */
    border-top-color: darkred;      /* haut */
    border-right-color: lightcoral; /* droite */
    border-bottom-color: lightcoral;/* bas */

}
.subattribute-malus .yellow_card {
    border-left-color: darkgoldenrod;
    border-top-color: darkgoldenrod;
    border-right-color: goldenrod;
    border-bottom-color: goldenrod;
}

.subattribute-malus .red_card:checked::after, .subattribute-malus .yellow_card:checked::after {
    content: "✔";
    width: 16px;
    height: 16px;
    color: white;
    background-color: var(--color-checkbox-checked);
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 16px;
}
.bonus{
    text-align: center;
    display: flex;
    place-content: center;
    gap: 0.2rem;

}
.bonus .input-label{
    display: flex;
    align-items: center;
    gap: 0.2rem;

}
.bonus input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin-left: 0;

}
.bonus img {
    width: 14px;
    height: 14px;
    border: none;
}

.character-statistics{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    min-width: 230px;

}

.character-statistics{
    border-left: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}

.character-statistics-row > *{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    align-items: center;
}

.character-statistics-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.label-element{
    background-color: rgba(255, 255, 255, 0.5);

}

.character-statistics-name{
    display: grid;
    font-weight: bold;
    justify-items: center;
}

.not_compact .character-statistics-name {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}


.character-statistics-value{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2rem;
}

.character-statistics-value input{
    width: 30px;
    text-align: center;
}
.basic-text-input{
    font-weight: bold !important;
}
.max-stat-input{
    color: #b74437 !important;

}

.statistics-tab{
    display: flex;
    overflow: hidden;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    background-color: transparent;
}

.statistics-tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: fit-content;
}

.skills-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.skills-list-row, .gift-list-row, .equipment-list-row, .armor-list-row, .weapons-list-row{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0.5rem 0;
}

.equipment-list-row .equipment-quantity, .armor-list-row .armor-value{
    width: 10%;
}

.skill-type{
    width: 7em;
}

textarea{
    font-size: 11px;
    resize: none;
    font-weight: normal;
    font-family: inherit;
    border: none;
}
.passive{
    display: flex;
}

.passive label{
    width: 25%;
    text-align: center;
}
.gift-list-row input[type="number"], .skills-list-row input[type="number"], .weapons-list-row input[type="number"]{
    width: 3em;
}

.gift-list-row .gift-dice-type{
    width: 55px;
}

.roll-knowledges-equipment{
    width: 45px;
}

.manage-list-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.manage-list-row button{
    width: fit-content;
}
#equipment_component{
    display: none;
}
.equipment_structure{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0.5rem;
}

.sheet-rolltemplate-aventures .editor {
    border: 1px solid #d8d2c4;
    border-radius: 6px;
    padding: 8px;
    color: #2a2a2a;
    min-height: 300px;
}
.sheet-rolltemplate-aventures .prosemirror {
    min-height: 900px;
}

.adventure-result{
    text-align: left;
}

.adventure-result.is-result{
    font-weight: bold;
    color: green;
}
.adventure-result.is-negative-result{
    font-weight: bold;
    color: darkred;
}

.aventure {
    background-color: #1f5e3c; /* vert foncé */
    color: #e6f9e7;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 6px;
}

.mésaventure {
    background-color: #802020; /* rouge sombre */
    color: #fbeaea;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 6px;
}