<form class="flexcol {{cssClass}} sheet-rolltemplate-aventures" autocomplete="off">
    <link href="https://fonts.googleapis.com/css2?family=Obra+Letra&display=swap" rel="stylesheet">
    <header class="sheet-header">
        <img class="sheet-header-logo" src="systems/aventures/assets/aventures-logo.png" alt="logo">
       <!-- <div id="ma_popup" class="popup" style="display: none">-->
            <!-- Contenu de la popup -->
          <!--  <div class="popup-content">
                <span class="closePopup">&times;</span>
                <h2>Lancement des dés</h2>
                <div>
                    <label class="input-label diceUse">
                    <select name="diceUse" title="@{diceUse}" id="diceUse">
                        <option value="true" data-i18n="oui">Oui</option>
                        <option value="false" data-i18n="non">Non</option>
                    </select><span class="h5" data-i18n="diceUse">Utiliser les meilleurs dés ?</span>
                </label>
                </div>
                <div>
                    <label class="input-label diceToUse" style="display: none">
                    <span class="h5" data-i18n="diceToUse">d12 : </span>
                    <select name="diceToUse" class="chooseDice" title="@{d12Selected}" id="d12Selected">
                    </select>
                    <span class="h5" data-i18n="diceToUse">d10 : </span>
                    <select name="diceToUse" class="chooseDice" title="@{d10Selected}" id="d10Selected">
                    </select>
                    <span class="h5" data-i18n="diceToUse">d8 : </span>
                    <select name="diceToUse" class="chooseDice" title="@{d8Selected}" id="d8Selected">
                    </select>
                </label>
                </div>
                <div>
                    <label class="input-label exertionUse" style="display: none">
                    <span class="h5" data-i18n="exertionUse">Utiliser des points d'exertion ?</span>
                    <select name="exertionUse" title="@{exertionUse}" id="exertionUse" >
                        <option value="0">0</option>
                    </select>
                </label>
                </div>
                <div>
                    <label class="input-label targetPlayer">
                    <span class="h5" data-i18n="exertionUse">Cible du lancé</span>
                    <select name="launchTarget" title="@{launchTarget}" id="launchTarget" >
                        <option value="Public">Public</option>
                        <option value="Perso">Perso</option>
                        <option value="Hidden">Cachés</option>
                    </select>
                </label>
                </div>
                <div style="text-align: center">
                    <label class="input-label launchDice">
                        <span class="h5" data-i18n="lancer">Lancer</span>
                    </label>
                </div>
            </div>
        </div>-->
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <!--  <div id="section-tabs">
            <input class="hidden" name="attr_section" type="radio" value="presentation" checked="" id="presentation-radio" title="@{section}">
            <label class="presentation-radio section-control h5" for="presentation-radio" data-i18n="presentation">Présentation</label>
            <input class="hidden" name="attr_section" type="radio" value="all" id="all-radio"  title="@{section}">
            <label class="all-radio section-control h5" for="all-radio" data-i18n="all">Général</label>
        </div>
        <section class="main" id="main">
        <div id="presentation" class="presentation">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" alt=""/>
            <textarea readonly>{{systemData.biography}}</textarea>
        </div>
-->
        <section class="main" id="main">
            <div class="character">
                <div class="category">Personnage</div>
                <div class="character-info">
                    <div class="character-name">
                        <label class="input-label name">Nom :</label>
                        <input type="text" name="name" value="{{actor.name}}" placeholder="Nom" />
                    </div>
                    <div class="character-race">
                        <label class="input-label race">Race :</label>
                        <input type="text" name="system.race" title="@{race}" value="{{systemData.race}}" placeholder="Race">
                    </div>
                    <div class="character-class">
                        <label class="input-label class">Classe :</label>
                        <input type="text" name="system.class" value="{{systemData.class}}" placeholder="Classe" />
                    </div>
                    <div class="character-element">
                        <label class="input-label element">Élément :</label>
                        <input type="text" name="system.element" value="{{systemData.element}}" placeholder="Élément" />
                    </div>
                    <div class="character-theme">
                        <label class="input-label theme">Thème :</label>
                        <input type="text" name="system.theme" value="{{systemData.theme}}" placeholder="Thème" />
                    </div>
                    <div class="character-languages">
                        <label class="input-label languages">Langues connues :</label>
                        <input type="text" name="system.languages" value="{{systemData.languages}}" placeholder="Langues connues" />
                    </div>
                    <div class="character-vocation">
                        <label class="input-label vocation">Vocation :</label>
                        <input type="text" name="system.vocation" value="{{systemData.vocation}}" placeholder="Vocation" />
                    </div>
                </div>
            </div>
            <div class="statistics">
                <div class="category">Statistiques</div>
                <div class="statistics-info">
                    <div class="statistics-attributes">
                        {{#each systemData.attributes as |attr key|}}
                        <div class="attribute-name {{key}} label-element"><p>{{attr.label}}</p></div>
                        <div class="attribute-value {{key}}-value">
                            <input type="number" class="rollValue basic-text-input" name={{concat "system.attributes." key ".base"}} value="{{attr.base}}" placeholder="0" />
                            <button class="roll-dice" data-attribute="{{key}}" data-dice="1d100" data-title="{{{attr.label}}}" data-roll="{{attr.base}}"><img src="systems/aventures/assets/dice.png"></button>
                        </div>
                        {{#each attr as |subattr subkey|}}
                        {{#if (and (ne subkey "base") (ne subkey "label"))}}
                        <div class="subattribute-name {{subkey}} label-element"><p>{{subattr.label}}</p></div>
                        <div class="subattribute-value {{subkey}}-value">
                            <input type="number"
                                   class="rollValue basic-text-input"
                                   name={{concat "system.attributes." key "." subkey ".base"}}
                            value="{{subattr.base}}"
                            placeholder="0" />
                            <button class="roll-dice" data-attribute="{{subkey}}" data-dice="1d?" data-title="{{subattr.label}}" data-roll="{{subattr.base}}"><img src="systems/aventures/assets/dice.png"></button>
                        </div>

                        <div class="subattribute-malus {{subkey}}-malus">
                            <input type="checkbox" class="yellow_card" name={{concat "system.attributes." key "." subkey ".yellow_card"}} {{checked subattr.yellow_card}} data-i18n="malus">
                            <input type="checkbox" class="red_card"  name={{concat "system.attributes." key "." subkey ".red_card"}} {{checked subattr.red_card}} data-i18n="malus">
                        </div>
                        {{/if}}
                        {{/each}}
                        {{/each}}

                        <div class="race-passive passive">
                            <label class="input-label class">Race</label>
                            <textarea rows="4" name="system.raceDescription" placeholder="les bonus de ta race">{{systemData.raceDescription}}</textarea>
                        </div>
                        <div class="class-passive passive">
                            <label class="input-label class">Classe</label>
                            <textarea rows="4" name="system.classDescription" placeholder="les bonus de ta classe">{{systemData.classDescription}}</textarea>

                        </div>
                        <div class="persona-passive passive">
                            <label class="input-label class">Personnage</label>
                            <textarea rows="4" name="system.personalDescription" placeholder="les bonus de ton personnage">{{systemData.personalDescription}}</textarea>

                        </div>
                        <div class="statistics-attributes-row bonus">
                            <label class="input-label">Avantage<img src="systems/aventures/assets/advantage.png">
                            <input type="checkbox" class="updateBonus" data-attribute="advantage" name="system.dice.advantage" {{checked systemData.dice.advantage}} data-i18n="Avantage">
                            </label>
                            |
                            <label class="input-label"> Désavantage <img src="systems/aventures/assets/disadvantage.png">
                            <input type="checkbox" class="updateBonus" data-attribute="disadvantage" name="system.dice.disadvantage" {{checked systemData.dice.disadvantage}} data-i18n="Avantage">
                            </label>
                        </div>
                    </div>
                    <div class="character-statistics">
                        <div class="character-statistics-row label-element">
                            <div class="character-statistics-name">Niveau</div>
                            <div class="character-statistics-value">
                                <input type=number  class="rollValue basic-text-input" name="system.level" value="{{systemData.level}}" placeholder="0" />
                            </div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">Santé</div>
                            <div class="character-statistics-value">
                                <input type=number class="basic-text-input" id="hp" name="system.hp.value" value="{{systemData.hp.value}}" placeholder="0" />
                                /
                                <input type=number class="basic-text-input max-stat-input" name="system.hp.max" value="{{systemData.hp.max}}" placeholder="0" />
                            </div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">Psy</div>
                            <div class="character-statistics-value">
                                <input type=number class="basic-text-input" name="system.psychic.value" value="{{systemData.psychic.value}}" placeholder="0" />
                                /
                                <input type=number class="basic-text-input max-stat-input" name="system.psychic.max" value="{{systemData.psychic.max}}" placeholder="0" />
                            </div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">Posture de base</div>
                            <div class="character-statistics-value">
                                <select name="system.basic_posture" title="@{posture}" id="posture">
                                    <option value="aucune" data-i18n="aucune" {{#if (eq systemData.basic_posture "aucune")}}selected{{/if}}>Aucune</option>
                                    <option value="offensif" data-i18n="offensif" {{#if (eq systemData.basic_posture "offensif")}}selected{{/if}}>Offensif</option>
                                    <option value="defensif" data-i18n="défensif" {{#if (eq systemData.basic_posture "defensif")}}selected{{/if}}>Défensif</option>
                                    <option value="focus" data-i18n="focus" {{#if (eq systemData.basic_posture "focus")}}selected{{/if}}>Focus</option>
                                </select>
                            </div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">
                                Dés d'aventures
                                <button class="roll-dice data-attribute="roll-adventure" data-dice="" data-title="Dés d'aventure" data-type="adventure"><img src="systems/aventures/assets/dice.png"></button>
                            </div>
                            <div class="character-statistics-value">
                                Restant :
                                <input type=number class="basic-text-input" name="system.dice.adventure" value="{{systemData.dice.adventure}}" placeholder="0" />
                            </div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">
                                Dés de mésaventures
                                <button class="roll-dice data-attribute="roll-misadventure" data-dice="" data-title="Dés de mésaventure" data-type="misadventure"><img src="systems/aventures/assets/dice.png"></button>

                            </div>
                            <div class="character-statistics-value">
                                Restant :
                                <input type=number class="basic-text-input" name="system.dice.misadventure" value="{{systemData.dice.misadventure}}"  placeholder="0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statistics-tab">
                <button class="tablinks" type="action" name="act_skills"><span>Compétences</span></button>
                <button class="tablinks" type="action" name="act_equipment"><span>Équipement</span></button>
            </div>
            <div id="skills_component" class="skills">
                <div class="category">Compétences et Dons</div>
                <div class="skills-info">
                    <div class="skills-list">
                        <h3>Compétences</h3>
                        {{#each systemData.skills as |skill key|}}
                        <div class="skills-list-row">
                            <input class="skill-name" type="text" name="system.skills.{{key}}.name" value="{{skill.name}}" spellcheck="false" placeholder="Nom de la compétence">
                            <select class="skill-type" name="system.skills.{{key}}.skill" id="skillType" title="@{skillType}">
                                <option value="aucun" data-stat="aucun" {{#if (eq skill.skill "aucun")}}selected{{/if}}>Aucun</option>
                                <option value="strength" data-stat="strength" {{#if (eq skill.skill "strength")}}selected{{/if}}>Physique</option>
                                <option value="social" data-stat="social" {{#if (eq skill.skill "social")}}selected{{/if}}>Social</option>
                                <option value="mental" data-stat="mental" {{#if (eq skill.skill "mental")}}selected{{/if}}>Mental</option>
                            </select>
                            +
                            <input class="skill-bonus" type="number" spellcheck="false" placeholder="0" name="system.skills.{{key}}.bonus" value="{{skill.bonus}}" />
                            {{#if @root.systemData.updateSkillsMode}}
                            <button class="item-delete" title="Supprimer la compétence" data-key="{{key}}" data-parameter="skills"><i class="fas fa-trash"></i></button>
                            {{else}}
                            <button class="roll-dice roll-knowledges-equipment" data-attribute="roll-skill" data-dice="1d100" data-title="{{skill.name}}" data-roll="{{add (lookup (lookup ../systemData.attributes skill.skill) 'base') skill.bonus}}"><img src="systems/aventures/assets/dice.png"></button>
                            {{/if}}
                        </div>
                        {{/each}}
                        <div class="manage-list-row">
                            {{#if systemData.updateSkillsMode}}
                            <button class="done-button switchModeButton" data-parameter="updateSkillsMode" data-value="false"><span>Terminé</span></button>
                            {{else}}
                            <button class="add-button" data-key="skill" id="addSkill"><span>+Ajouter</span></button>
                            <button class="modify-button switchModeButton" data-parameter="updateSkillsMode" data-value="true"><span>Modifier</span></button>
                            {{/if}}
                        </div>

                    </div>
                    <div class="gift-list">
                        <h3>Dons</h3>
                        {{#each systemData.gift as |gift key|}}
                        <div class="gift-list-row">
                            <input class="gift-name" type="text" name="system.gift.{{key}}.name" value="{{gift.name}}" spellcheck="false" placeholder="Nom du don">
                            <input class="gift-psy" type="number" name="system.gift.{{key}}.psy" value="{{gift.psy}}" placeholder="0">
                            <input class="gift-dice-quantity" type="number" name="system.gift.{{key}}.dice_quantity" value="{{gift.dice_quantity}}" placeholder="0">
                            <select class="gift-dice-type" name="system.gift.{{key}}.dice_type" title="@{diceType}" id="giftDice">
                                <option value="d?" data-i18n="d?" {{#if (eq gift.dice_type "d?")}}selected{{/if}}>d?</option>
                                <option value="d4" data-i18n="d4" {{#if (eq gift.dice_type "d4")}}selected{{/if}}>d4</option>
                                <option value="d6" data-i18n="d6" {{#if (eq gift.dice_type "d6")}}selected{{/if}}>d6</option>
                                <option value="d8" data-i18n="d8" {{#if (eq gift.dice_type "d8")}}selected{{/if}}>d8</option>
                                <option value="d10" data-i18n="d10" {{#if (eq gift.dice_type "d10")}}selected{{/if}}>d10</option>
                                <option value="d12" data-i18n="d12" {{#if (eq gift.dice_type "d12")}}selected{{/if}}>d12</option>
                                <option value="d20" data-i18n="d20" {{#if (eq gift.dice_type "d20")}}selected{{/if}}>d20</option>
                            </select>
                            +
                            <input class="gift-bonus" type="number" name="system.gift.{{key}}.bonus" value="{{gift.bonus}}" spellcheck="false" placeholder="0">
                            {{#if @root.systemData.updateGiftMode}}
                            <button class="item-delete" title="Supprimer le don" data-key="{{key}}" data-parameter="gift"><i class="fas fa-trash"></i></button>
                            {{else}}
                            <button class="roll-dice roll-knowledges-equipment data-attribute="roll-gift" data-dice="{{gift.dice_quantity}}{{gift.dice_type}}{{#if gift.bonus}}{{#unless (eq gift.bonus 0)}}+{{gift.bonus}}{{/unless}}{{/if}}" data-title="{{gift.name}}" data-type="gift"><img src="systems/aventures/assets/dice.png"></button>
                            {{/if}}
                        </div>
                        {{/each}}
                        <div class="manage-list-row">
                        {{#if systemData.updateGiftMode}}
                        <button class="done-button switchModeButton" data-parameter="updateGiftMode" data-value="false"><span>Terminé</span></button>
                        {{else}}
                        <button class="add-button" data-key="gift" id="addGift"><span>+Ajouter</span></button>
                        <button class="modify-button switchModeButton" data-parameter="updateGiftMode" data-value="true"><span>Modifier</span></button>
                        {{/if}}
                    </div>
                    </div>
                </div>
            </div>
            <div id="notes_component" class="notes">
                <div class="category">Notes</div>
                {{editor notesHTML target="system.notes" button=true editable=editable engine="prosemirror"}}
            </div>
            <div id="equipment_component" class="equipment">
                <div class="category">Équipements</div>
                <div class="equipment_structure">
                    <div class="weapons">
                        <h3>Armes</h3>
                        {{#each weapons as | weapon key|}}
                        <div class="weapons-list-row">
                            <input class="weapon-name" type="text" data-item-id="{{weapon._id}}" value="{{weapon.name}}" placeholder="Nom de l'arme">

                            <select class="weapon-type" data-item-id="{{weapon._id}}">
                                <option value="type" {{#if (eq weapon.system.type "type")}}selected{{/if}}>Type</option>
                                <option value="contondant" {{#if (eq weapon.system.type "contondant")}}selected{{/if}}>Contondant</option>
                                <option value="perforant" {{#if (eq weapon.system.type "perforant")}}selected{{/if}}>Perforant</option>
                                <option value="tranchant" {{#if (eq weapon.system.type "tranchant")}}selected{{/if}}>Tranchant</option>
                            </select>

                            <input class="weapon-dice_quantity" type="number" data-item-id="{{weapon._id}}" value="{{weapon.system.dice_quantity}}" placeholder="0">

                            <select class="weapon-dice_number" data-item-id="{{weapon._id}}">
                                <option value="d?" {{#if (eq weapon.system.dice_number "d?")}}selected{{/if}}>d?</option>
                                <option value="d4" {{#if (eq weapon.system.dice_number "d4")}}selected{{/if}}>d4</option>
                                <option value="d6" {{#if (eq weapon.system.dice_number "d6")}}selected{{/if}}>d6</option>
                                <option value="d8" {{#if (eq weapon.system.dice_number "d8")}}selected{{/if}}>d8</option>
                                <option value="d10" {{#if (eq weapon.system.dice_number "d10")}}selected{{/if}}>d10</option>
                                <option value="d12" {{#if (eq weapon.system.dice_number "d12")}}selected{{/if}}>d12</option>
                                <option value="d20" {{#if (eq weapon.system.dice_number "d20")}}selected{{/if}}>d20</option>
                            </select>

                            +
                            <input class="weapon-bonus" type="number" data-item-id="{{weapon._id}}" value="{{weapon.system.bonus}}" placeholder="0">
                            {{#if @root.systemData.updateWeaponsMode}}
                            <button class="item-delete" title="Supprimer la compétence" data-key="{{weapon._id}}" data-parameter="weapon"><i class="fas fa-trash"></i></button>
                            {{else}}
                            <button class="roll-dice roll-knowledges-equipment" data-title="{{weapon.name}}" data-damagetype="{{weapon.system.type}}" data-attribute="roll-weapons-damage" data-dice="{{weapon.system.dice_quantity}}{{weapon.system.dice_number}}{{#if weapon.system.bonus}}{{#unless (eq weapon.system.bonus 0)}}+{{weapon.system.bonus}}{{/unless}}{{/if}}" data-type="weapons"><img src="systems/aventures/assets/dice.png"></button>
                            {{/if}}
                        </div>
                        {{/each}}
                        <div class="manage-list-row">
                            {{#if systemData.updateWeaponsMode}}
                            <button class="done-button switchModeButton" data-parameter="updateWeaponsMode" data-value="false"><span>Terminé</span></button>
                            {{else}}
                            <button class="add-button" data-key="weapon" id="addWeapon"><span>+Ajouter</span></button>
                            <button class="modify-button switchModeButton" data-parameter="updateWeaponsMode" data-value="true"><span>Modifier</span></button>
                            {{/if}}
                        </div>
                    </div>
                    <div class="armor">
                        <h3>Armure</h3>
                        {{#each systemData.equipment.armor as | armor key|}}
                        <div class="armor-list-row">
                            <input class="equipment-name" type="text" name="system.equipment.armor.{{key}}.name" value="{{armor.name}}" spellcheck="false" placeholder="Armure">
                            <input type="number" class="armor-value" name="system.equipment.armor.{{key}}.value" value="{{armor.value}}" placeholder="0">
                            {{#if @root.systemData.updateArmorMode}}
                            <button class="item-delete" title="Supprimer l'armure" data-key="{{key}}" data-parameter="equipment.armor"><i class="fas fa-trash"></i></button>
                            {{/if}}
                        </div>
                        {{/each}}
                        <div class="manage-list-row">
                            {{#if systemData.updateArmorMode}}
                            <button class="done-button switchModeButton" data-parameter="updateArmorMode" data-value="false"><span>Terminé</span></button>
                            {{else}}
                            <button class="add-button" data-key="armor" id="addArmor"><span>+Ajouter</span></button>
                            <button class="modify-button switchModeButton" data-parameter="updateArmorMode" data-value="true"><span>Modifier</span></button>
                            {{/if}}
                        </div>
                    </div>
                    <div class="general_equipment">
                        <h3>Équipement total</h3>
                        {{#each systemData.equipment.general as | equipment key|}}
                        <div class="equipment-list-row">
                            <input class="equipment-name" type="text" name="system.equipment.general.{{key}}.name" value="{{equipment.name}}" spellcheck="false" placeholder="Équipement">
                            <input type="number" class="equipment-quantity" name="system.equipment.general.{{key}}.quantity" value="{{equipment.quantity}}" placeholder="0">
                            {{#if @root.systemData.updateGeneralEquipmentMode}}
                            <button class="item-delete" title="Supprimer l'équipement" data-key="{{key}}" data-parameter="equipment.general"><i class="fas fa-trash"></i></button>
                           {{/if}}
                        </div>
                        {{/each}}
                        <div class="manage-list-row">
                            {{#if systemData.updateGeneralEquipmentMode}}
                            <button class="done-button switchModeButton" data-parameter="updateGeneralEquipmentMode" data-value="false"><span>Terminé</span></button>
                            {{else}}
                            <button class="add-button" data-key="equipment" id="addEquipment"><span>+Ajouter</span></button>
                            <button class="modify-button switchModeButton" data-parameter="updateGeneralEquipmentMode" data-value="true"><span>Modifier</span></button>
                            {{/if}}
                        </div>
                    </div>
                    <div class="other">
                        <h3>Autres</h3>
                        <textarea rows="10" name="system.equipment.other">{{systemData.equipment.other}}</textarea>
                    </div>
                </div>
            </div>
        </section>
    </section>
</form>

