<form class="flexcol {{cssClass}} sheet-rolltemplate-aventures" autocomplete="off">
    <header class="sheet-header">
        <img class="sheet-header-logo" src="systems/aventures/assets/aventures-logo.png" alt="logo">
       <!-- <div id="ma_popup" class="popup" style="display: none">-->
            <!-- Contenu de la popup -->
          <!--  <div class="popup-content">
                <span class="closePopup">&times;</span>
                <h2>Lancement des dés</h2>
                <div>
                    <label class="input-label diceUse">
                    <select name="diceUse" title="@{diceUse}" id="diceUse">
                        <option value="true" data-i18n="oui">Oui</option>
                        <option value="false" data-i18n="non">Non</option>
                    </select><span class="h5" data-i18n="diceUse">Utiliser les meilleurs dés ?</span>
                </label>
                </div>
                <div>
                    <label class="input-label diceToUse" style="display: none">
                    <span class="h5" data-i18n="diceToUse">d12 : </span>
                    <select name="diceToUse" class="chooseDice" title="@{d12Selected}" id="d12Selected">
                    </select>
                    <span class="h5" data-i18n="diceToUse">d10 : </span>
                    <select name="diceToUse" class="chooseDice" title="@{d10Selected}" id="d10Selected">
                    </select>
                    <span class="h5" data-i18n="diceToUse">d8 : </span>
                    <select name="diceToUse" class="chooseDice" title="@{d8Selected}" id="d8Selected">
                    </select>
                </label>
                </div>
                <div>
                    <label class="input-label exertionUse" style="display: none">
                    <span class="h5" data-i18n="exertionUse">Utiliser des points d'exertion ?</span>
                    <select name="exertionUse" title="@{exertionUse}" id="exertionUse" >
                        <option value="0">0</option>
                    </select>
                </label>
                </div>
                <div>
                    <label class="input-label targetPlayer">
                    <span class="h5" data-i18n="exertionUse">Cible du lancé</span>
                    <select name="launchTarget" title="@{launchTarget}" id="launchTarget" >
                        <option value="Public">Public</option>
                        <option value="Perso">Perso</option>
                        <option value="Hidden">Cachés</option>
                    </select>
                </label>
                </div>
                <div style="text-align: center">
                    <label class="input-label launchDice">
                        <span class="h5" data-i18n="lancer">Lancer</span>
                    </label>
                </div>
            </div>
        </div>-->
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <!--  <div id="section-tabs">
            <input class="hidden" name="attr_section" type="radio" value="presentation" checked="" id="presentation-radio" title="@{section}">
            <label class="presentation-radio section-control h5" for="presentation-radio" data-i18n="presentation">Présentation</label>
            <input class="hidden" name="attr_section" type="radio" value="all" id="all-radio"  title="@{section}">
            <label class="all-radio section-control h5" for="all-radio" data-i18n="all">Général</label>
        </div>
        <section class="main" id="main">
        <div id="presentation" class="presentation">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" alt=""/>
            <textarea readonly>{{systemData.biography}}</textarea>
        </div>
-->
        <section class="main" id="main">
            <div class="character">
                <div class="category"></div>
                <div class="character-info">
                    <div class="character-name">
                        <label class="input-label name">Nom :</label>
                        <input type="text" name="system.name" value="{{actor.name}}" placeholder="Nom" />
                    </div>
                    <div class="character-race">
                        <label class="input-label race">Race :</label>
                        <input type="text" name="system.race" title="@{race}" value="{{systemData.race}}" placeholder="Race">
                    </div>
                    <div class="character-class">
                        <label class="input-label class">Classe :</label>
                        <input type="text" name="system.class" value="{{systemData.class}}" placeholder="Classe" />
                    </div>
                    <div class="character-element">
                        <label class="input-label element">Élément :</label>
                        <input type="text" name="system.element" value="{{systemData.element}}" placeholder="Élément" />
                    </div>
                    <div class="character-theme">
                        <label class="input-label theme">Thème :</label>
                        <input type="text" name="system.theme" value="{{systemData.theme}}" placeholder="Thème" />
                    </div>
                    <div class="character-languages">
                        <label class="input-label languages">Langues connues :</label>
                        <input type="text" name="system.languages" value="{{systemData.languages}}" placeholder="Langues connues" />
                    </div>
                    <div class="character-vocation">
                        <label class="input-label vocation">Vocation :</label>
                        <input type="text" name="system.vocation" value="{{systemData.vocation}}" placeholder="Vocation" />
                    </div>
                </div>
            </div>
            <div class="statistics">
                <div class="category"></div>
                <div class="statistics-info">
                    <div class="statistics-attributes">
                        <div class="attribute-name strength">Physique</div>
                        <div class="attribute-value strength-value">
                            <input type="text" class="rollValue" name="system.attributes.strength.base" value="{{systemData.attributes.strength.base}}" placeholder="" />
                            <button class="roll-attribute" data-attribute="strength" data-dice="1d100" data-title="@{strength}" data-i18n="strength"><img src="systems/aventures/assets//dice.png"></button>
                        </div>
                        <div class="subattribute-name power">Puissance</div>
                        <div class="subattribute-value power-value">
                            <input type="text" class="rollValue" name="system.attributes.strength.power.base" value="{{systemData.attributes.strength.power.base}}" placeholder="" />
                            <button class="roll-attribute" data-attribute="power" data-dice="1d?" data-title="@{power}" data-i18n="power"><img src="systems/aventures/assets//dice.png"></button>
                        </div>
                        <div class="subattribute-malus power-malus">
                            <input type="checkbox" class="yellow_card" value="system.attributes.strength.power.yellow_card" data-i18n="malus">
                            <input type="checkbox" class="red_card" value="system.attributes.strength.power.red_card" data-i18n="malus">
                        </div>
                        <div class="subattribute-name sharpness">Finesse</div>
                        <div class="subattribute-value sharpness-value">
                            <input type="text" class="rollValue" name="system.attributes.strength.sharpness.base" value="{{systemData.attributes.strength.sharpness.base}}" placeholder="" />
                            <button class="roll-attribute" data-attribute="sharpness" data-dice="1d?" data-title="@{sharpness}" data-i18n="sharpness"><img src="systems/aventures/assets//dice.png"></button>
                        </div>
                        <div class="subattribute-malus sharpness-malus">
                            <input type="checkbox" class="yellow_card" value="system.attributes.strength.sharpness.yellow_card" data-i18n="malus">
                            <input type="checkbox" class="red_card" value="system.attributes.strength.sharpness.red_card" data-i18n="malus">
                        </div>

                        <div class="attribute-name social">Social</div>
                        <div class="attribute-value social-value">
                            <input type="text" class="rollValue" name="system.attributes.social.base" value="{{systemData.attributes.social.base}}" placeholder="" />
                            <button class="roll-attribute" data-attribute="social" data-dice="1d100" data-title="@{social}" data-i18n="social"><img src="systems/aventures/assets//dice.png"></button>
                        </div>
                        <div class="subattribute-name aura">Aura</div>
                        <div class="subattribute-value aura-value">
                            <input type="text" class="rollValue" name="system.attributes.social.aura.base" value="{{systemData.attributes.social.aura.base}}" placeholder="" />
                            <button class="roll-attribute" data-attribute="aura" data-dice="1d?" data-title="@{aura}" data-i18n="aura"><img src="systems/aventures/assets//dice.png"></button>
                        </div>
                        <div class="subattribute-malus aura-malus">
                            <input type="checkbox" class="yellow_card" value="system.attributes.social.aura.yellow_card" data-i18n="malus">
                            <input type="checkbox" class="red_card" value="system.attributes.social.aura.red_card" data-i18n="malus">
                        </div>
                        <div class="subattribute-name relationship">Relations</div>
                        <div class="subattribute-value relationship-value">
                            <input type="text" class="rollValue" name="system.attributes.social.relationship.base" value="{{systemData.attributes.social.relationship.base}}" placeholder="" />
                            <button class="roll-attribute" data-attribute="relationship" data-dice="1d?" data-title="@{relationship}" data-i18n="relationship"><img src="systems/aventures/assets//dice.png"></button>
                        </div>
                        <div class="subattribute-malus relationship-malus">
                            <input type="checkbox" class="yellow_card" value="system.attributes.social.relationship.yellow_card" data-i18n="malus">
                            <input type="checkbox" class="red_card" value="system.attributes.social.relationship.red_card" data-i18n="malus">

                        </div>

                        <div class="attribute-name mental">Mental</div>
                        <div class="attribute-value mental-value">
                            <input type="text" class="rollValue" name="system.attributes.mental.base" value="{{systemData.attributes.mental.base}}" placeholder="" />
                            <button class="roll-attribute" data-attribute="mental" data-dice="1d100" data-title="@{mental}" data-i18n="mental"><img src="systems/aventures/assets//dice.png"></button>
                        </div>
                        <div class="subattribute-name instinct">Instinct</div>
                        <div class="subattribute-value instinct-value">
                            <input type="text" class="rollValue" name="system.attributes.mental.instinct.base" value="{{systemData.attributes.mental.instinct.base}}" placeholder="" />
                            <button class="roll-attribute" data-attribute="instinct" data-dice="1d?" data-title="@{instinct}" data-i18n="instinct"><img src="systems/aventures/assets//dice.png"></button>
                        </div>
                        <div class="subattribute-malus instinct-malus">
                            <input type="checkbox" class="yellow_card" value="system.attributes.mental.instinct.yellow_card" data-i18n="malus">
                            <input type="checkbox" class="red_card" value="system.attributes.mental.instinct.red_card" data-i18n="malus">
                        </div>
                        <div class="subattribute-name knowledge">Savoir</div>
                        <div class="subattribute-value knowledge-value">
                            <input type="text" class="rollValue" name="system.attributes.mental.knowledge.base" value="{{systemData.attributes.mental.knowledge.base}}" placeholder="" />
                            <button class="roll-attribute" data-attribute="knowledge" data-dice="1d?" data-title="@{knowledge}" data-i18n="knowledge"><img src="systems/aventures/assets//dice.png"></button>
                        </div>
                        <div class="subattribute-malus knowledge-malus">
                            <input type="checkbox" class="yellow_card" value="system.attributes.mental.knowledge.yellow_card" data-i18n="malus">
                            <input type="checkbox" class="red_card" value="system.attributes.mental.knowledge.red_card" data-i18n="malus">
                        </div>
                        <div class="statistics-attributes-row bonus">
                            <label class="input-label">Avantage<img src="systems/aventures/assets/advantage.png">
                            <input type="checkbox" value="system.attributes.dice.advantage" data-i18n="Avantage">
                            </label>
                            |
                            <label class="input-label"> Désavantage <img src="systems/aventures/assets/disadvantage.png">
                            <input type="checkbox" value="system.attributes.dice.disadvantage" data-i18n="Avantage">
                            </label>
                        </div>
                    </div>
                    <div class="character-statistics">
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">Niveau</div>
                            <div class="character-statistics-value"></div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">Santé</div>
                            <div class="character-statistics-value"></div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">Psy</div>
                            <div class="character-statistics-value"></div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">Posture de base</div>
                            <div class="character-statistics-value"></div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">Dés d'aventures :</div>
                            <div class="character-statistics-value"></div>
                        </div>
                        <div class="character-statistics-row">
                            <div class="character-statistics-name">Dés de mésaventures :</div>
                            <div class="character-statistics-value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</form>

